.border{
	border: 1px dashed #ccc;
	padding-left: 10px;
}

.push1{
	padding: 15px;
}

.push{
	padding: 30px;
}

.push2{
	padding: 45px;
}

.shadow {
-moz-box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
-moz-border-radius: 15px;
border-radius: 15px;
padding: 25px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

.miniContainer {
	padding: 10px;
}

.containerPad {
	padding: 30px;
}

.fullHeight {
	min-height: 100% !immediate;
}

html {
	min-height: 100% !immediate;
}

body {
	min-height: 100% !immediate;
}